body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: #ffffff;
    text-decoration-color: rgba(255, 255, 255, 0.3);
}

.container {
    margin: 0 auto;
    width: 1146px;
    padding: 0 27px;
    outline: 2px dashed #ffffff;
}

.site-wrapper {
    min-width: 1200px;
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;


    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.main-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 9px;
    margin-bottom: 20px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}
.main-nav {
    position: relative;
    line-height: 18px;
    font-weight: 700;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    list-style: none;
}

.main-menu-link {
    padding: 7px 14px;
}

.main-menu-link:hover,
.main-menu-link:focus {
    color: #333333;
    background-color: #f7f6f3;
    border-radius: 20px;
    text-decoration: none;
}

.main-menu-link:active {
    background-color: #f8f7f4;
    box-shadow: 0 -2px 1px #696969;
}

.link-current,
.link-current:focus,
.link-current:hover {
    text-decoration: none;
    background-color: #d07058;
    color: #ffffff;
    border-radius: 20px;
}

.site-nav-catalog {
    position: relative;
}
.sub-menu {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    width: 145px;
    position: absolute;
    left: 2px;
    top: 30px;
    margin: 0;
    padding: 5px 0;

    list-style: none;
    font-weight: 400;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.sub-menu li {
    padding: 0px 5px;
}

.sub-menu li:hover,
.sub-menu li:focus {
    background-color: #fbded7;
}

.sub-menu li:active {
    background-color: #f6b5a5;
}

.site-nav-catalog:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    top: 100%;
    left: 0;
}

.site-nav-catalog:hover .sub-menu {
    display: flex;
}

.sub-menu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.sub-menu-new a {
    font-weight: 700;
    border-bottom: 1px solid #d1d0ce;
}

.user-nav {
    margin-right: 10px;
    margin-bottom: 3px;
}

.search {
    position: relative;
    margin-left: auto;
}

.search-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    font-size: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.login {
    position: relative;
}

.login-trigger {
    display: flex;
    align-items: center;
    padding: 0 17px;
    width: 93px;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.login-trigger svg {
    margin-right: 7px;
}

.search:hover .search-trigger,
.search:focus .search-trigger,
.login:hover .login-trigger,
.login:focus .login-trigger {
    color: #323232;
    background-color: #f8f7f4;
}

.search:hover path,
.search:focus path,
.login:hover path,
.login:focus path {
    fill: #000000;
}

.form {
    background-color: #f8f7f4;
}

.form input,
.form textarea {
    height: 42px;
    padding: 0 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.form input:hover,
.form textarea:hover {
    outline-style: none;
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.form input:active,
.form textarea:active,
.form input:focus,
.form textarea:focus {
    outline-style: none;
    box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.search-form {
    display: none;
    position:absolute;
    right: 0;
    top: 36px;
    box-sizing: border-box;
    width: 342px;
    height: 85px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.login-form {
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    box-sizing: border-box;
    width: 280px;
    height: 215px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.login-form p {
    margin: 0;
    padding: 0;
}

.search:hover .search-trigger::after,
.login:hover .login-trigger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    top: 100%;
    left: 0;
}

.search:hover .search-form,
.login:hover .login-form {
    display: block;
}

.search-form input,
.login-form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
}

.login-form input {
    margin-bottom: 20px;
}

.login-links {
    position: absolute;
    left: 141px;
    bottom: 25px;
}

.login-form a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
    color: #e84d37;
    text-decoration-color: rgba(232, 77, 55, 0.3);
}
.subscribe-form {
    display: flex;
    justify-content: space-between;
}

.subscribe-form input {
    margin-right: 10px;
    box-sizing: border-box;
    width: 100%;
}
.feedback-form input,
.feedback-form textarea {
    line-height: 24px;
}

.cart-empty {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-left: 45px;
    box-sizing: border-box;
    width: 117px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.cart-empty::before {
    content: "";
    left: 16px;
    top: 6px;

    position: absolute;

    width: 21px;
    height: 20px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-full {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-left: 44px;
    box-sizing: border-box;
    width: 117px;
    height: 32px;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: #f8f7f4;
    border-radius: 20px;
}

.cart-full::before {
    content: "";
    left: 16px;
    top: 6px;

    position: absolute;

    width: 21px;
    height: 20px;
    
    background-image: url("../img/cart-full.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 36px;
    right: 0;
    padding: 20px 15px;
    box-sizing: border-box;
    width: 540px;
    background-color: #ffffff;
    color: #323232;
    border-radius: 3px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 10;
}

.cart-full:hover .cart-trigger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    top: 100%;
    left: 0;
}

.cart-full:hover .cart-wrapper {
    display: flex;
}

.cart-table {
    display: table;
    border-bottom: 1px solid #cacac7;
}

.total-price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.cart-row {
    display: block;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
}

.cart-cell {
    display: table-cell;
}

.cart-unit-price {
    color: #999999;
}

.shop-info {
    position: absolute;
    top: 73px;
    right: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;

    z-index: 2;
}

.shop-info-phone {
    display: inline-block;
    margin-top: 4px;
    font-size: 22px;
    line-height: 24px;
}

.slider {
    position: relative;
    margin-bottom: 41px;
    padding-top: 300px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-item {
    display: none;
}

.slide-title {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}

.slider-toggles {
    position: absolute;
    bottom: 21px;
    left: 0;
    z-index: 10;

    font-size: 0;
}

.slider-toggles label {
    display: inline-block;
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.breadcrumbs {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs span {
    position: relative;
    padding-right: 18px;
}

.breadcrumbs span::after {
    content: "»";
    position: absolute;
    right: 5px;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #febca0;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}

.catalog-title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 36px;
    margin: 0;
    margin-right: 18px;
    padding: 7px 12px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: none;
}

.filter-item legend {
    position: absolute;
    top: -23px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter-sort select {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    color: #ffffff;
    appearance: none;
}
.filter-sort select:hover,
.filter-sort select:focus {
    color: #323232;
}

.filter-sort select:active {
    background-color: #ffffff;
}

.filter-price {
    width: 215px;
    padding-left: 14px;
}

.range-controls {
    position: relative;
}

.range-controls .scale {
    margin: 10px 7px;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
    margin-left: 16px;
    width: 107px;
    height: 4px;

    background: #f8f7f4;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #f8f7f4;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 120px;
}

.filter-fat label {
    display: inline-block;

    position: relative;
    vertical-align: middle;
    line-height: 22px;
    margin-right: 16px;
    padding-left: 32px;
}

.filter-fat label:last-child {
    margin-right: 0;
    margin-left: -3px;
}

.filter-fat input + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 4px;
    width: 22px;
    height: 22px;
    border: 3px solid #ffffff;
    background-clip: content-box;
    border-radius: 50%;
    opacity: 0.8;
}

.filter-fat input:disabled + label::before {
    content: "";
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 4px;
    width: 22px;
    height: 22px;
    border: 3px solid #ffffff;
    background-clip: content-box;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-fat input:checked + label::before {
    background-color: #ffffff;
}
.filter-topping {
    margin-top: 38px;
    padding-left: 15px;
    padding-right: 18px;
}

.filter-topping label {
    position: relative;
    margin-right: 16px;
    padding-left: 33px;
    vertical-align: middle;
    line-height: 22px;
}

.filter-topping label:last-child {
    margin-right: 0;
}

.filter-topping input:enabled + label::before {
    content: "";
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 24px;
    height: 20px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
}

.filter-topping input:disabled + label::before {
    content: "";
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 24px;
    height: 20px;
    background-image: url("../img/checkbox-off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}


.filter-topping input:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-position: 2px;
}

.filter .filter-fat label:hover::before,
.filter .filter-topping label:hover::before {
    opacity: 1;
    cursor: pointer;
}

.filter-button {
    display: inline-block;
    margin-top: 38px;
    box-sizing: border-box;
    width: 144px;
    height: 36px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: 2px solid #ffffff;
    outline: none;
}

.filter-button:hover,
.filter-button:focus {
    color: #323232;
    background-color: #ffffff;
    border: none;
}

.filter-button:active {
    box-sizing: border-box;
    height: 36px;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
    border: none;
}

.button {
    display: inline-block;
    padding: 9px 22px 13px 20px;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    color: #fefefe;
    border-radius: 20px;
    font-weight:700;

    background-color: #f26843;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.52);

    cursor: pointer;
}

.button:hover,
.button:focus {
    color: #fefefe;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 1px 2px #ac1000;
}

.button:active {
    color: #fceeec;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.button-slider {
    padding: 10px 41px;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
}

.button-slider:hover,
.button-slider:focus {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slider:active {
    color: #fceeec;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.button-promo {
    margin-left: auto;
    margin-top: auto;
    font-size: 18px;
    line-height: 24px;
    border-radius: 20px;
}

.button-subscribe {
    padding-left: 17px;
    padding-right: 20px;
}

.button-feedback {
    width: 100%;
    margin-top: 25px;
}

.promo-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.promo-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 41px;
    font-weight:700;
}

.promo-list p {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.promo-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 560px;
    min-height: 229px;
    padding: 16px 21px 22px 19px;
    border-radius: 15px;
}

.promo-berry {
    background-color: #720a1b;
    background-image: url("../img/bg-berry.jpg");
    background-position: 50px;
}

.promo-choco {
    background-color: #3e2518;
    background-image: url("../img/bg-choco.jpg");
    background-position: -100px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-item {
    position: relative;

    margin-top: 40px;
    width: 267px;
}

.catalog-item-wrapper {
    display: flex;
    flex-direction: column;

}

.catalog-item-wrapper:hover {
    position: relative;
    margin: -6px -13px -83px -13px;
    padding: 6px 13px 0 13px;
    background-color: rgba(254, 254, 254, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.quick-view {
    display: none;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 19px;
    height: 48px;
    border-radius: 22px;
}

.catalog-item-wrapper:hover .quick-view {
    display: block;
}

.popular-items .catalog-items li::before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    width: 61px;
    height: 61px;

    background-color: #ffffff;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
}

.catalog-item img {
    border-radius: 50%;
}

.price-per-unit {
    margin: 0;
    margin-top: -58px;
    margin-bottom: 21px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-unit {
    font-size: 30px;
}

.item-link {
    font-weight: 500px;
    text-align: center;
}

.item-link:hover,
.item-link:focus,
.item-link:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}


.features {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px 20px;
    color: #323232;
    background-color: #f2e8d6;
    background-image: url("../img/bg-waffle.jpg");
    border-radius: 12px;
}

.features b {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    position: relative;
    margin-bottom: 23px;
    padding-left: 57px;
    flex-basis: 533px;
    box-sizing: border-box;
}

.features-item:nth-child(2n-1) {
    margin-right: 33px;
}

.features-item:last-child,
.features-item:nth-last-child(2) {
    margin-bottom: 0;
}

.features-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    width: 50px;
    height: 49px;
    background-repeat: no-repeat;
}

.features-item:first-child:before {
    background-image: url("../img/feature-icon1.svg")
}

.features-item:nth-child(2):before {
    background-image: url("../img/feature-icon2.svg")
}

.features-item:nth-child(3):before {
    background-image: url("../img/feature-icon3.svg")
}

.features-item:last-child:before {
    background-image: url("../img/feature-icon4.svg")
}

.blog-subscribe-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog-news {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    background-color: #ffffff;
    background-image: url("../img/bg-strawberry.jpg");
    background-repeat: no-repeat;
    background-position: 173px -25px;
    border-radius: 12px;
}

.blog-news,
.subscribe {
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
}
.blog-news-title {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog-news-link {
    width: 285px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration-color: #323232;
}

.blog-news-link:hover,
.blog-news-link:focus,
.blog-news-link:active {
    color: #e84d37;
    text-decoration-color: #e84d37;
}

.subscribe {
    padding: 5px;
    color: #5a5a5a;
    background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 10px, #94cefd 10px, #94cefd 20px, #f8f7f4 20px, #f8f7f4 30px, #fc9e92 30px, #fc9e92 40px);
    background-position: -6px;
    border-radius: 10px;
}

.subscribe-container {
    min-height: 210px;
    box-sizing: border-box;
    padding: 30px 22px;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.subscribe-container p {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
}

.map-and-contacts {
    position: relative;
    margin: 0;
    margin-left: -27px;
    padding: 0;
}

.contacts {
    position: absolute;
    right: 0;
    top: 63px;
    padding: 30px 25px;
    box-sizing: border-box;
    width: 302px;
    color: #323232;
    background-color: #fffffe;
    border-radius: 12px;
}

.contacts p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px
}

.contacts p:first-child {
    margin-bottom: 18px;
}

.contacts-font-big {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.phone-order {
    line-height: 30px;
    
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 30px;
    min-width: 190px;
    height: 26px;
}

.paginator a {
    margin-right: 3px;
    padding: 0 9px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.paginator-prev {
    font-size: 0;
    padding-right: px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    opacity: 0.2;
}

.paginator-next {
    font-size: 0;
    margin-left: 3px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.paginator a:not([class^="paginator-"]):hover,
.paginator a:not([class^="paginator-"]):focus {
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
}

.paginator a:active,
.paginator-current,
a.paginator-current:hover,
a.paginator-current:focus {
    color: #323232;
    background-color: #ffffff;
}



.main-footer {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 12px 0;
    font-size: 13px;
    line-height: 18px;
}

.footer-inner-page {
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}
.footer-social,
.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 185px;
}


.social-button {
    display: block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-tw {
    background-image: url("../img/tw.svg");
}

.social-ig {
    background-image: url("../img/inst.svg");
}

.social-fb {
    background-image: url("../img/fb.svg");
}

.social-vk {
    background-image: url("../img/vk.svg");
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
    border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
    opacity: 0.9;
    border: 4px solid rgba(255, 255, 255, 0.7);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;

    margin-left: 235px;
    margin-top: 2px;
    box-sizing: border-box;
    width: 325px;
}

.footer-links li {
    margin-bottom: 4px;
    width: 50%;
    box-sizing: border-box;
}

.footer-links li:nth-child(2n) {
    margin-left: -20px;
}

.heart {
    position: relative;
    font-weight: 700;
}

.heart::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 20px;
    height: 100%;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}

.footer-copyright {
    margin-left: auto;
    height: 60px;
}

.copyright-text {
    font-size: 12px;
}
.copyright-link:active,
.copyright-link:focus,
.copyright-link:hover {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.3);
}

.modal-feedback {
    background-color: #f8f7f4;
    border-radius: 5px;
}

.feedback-motto {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.promo-slide:not(.promo-slide-active) {

}

.promo-slide-active {
 
}
.modal {
    display: none;
}
