body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: #ffffff;
}

.container {
    margin: 0 auto;
    width: 1146px;
    padding: 0 27px;
    border: 1px dashed #ffffff;
}

.site-wrapper {
    min-width: 1200px;
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.main-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 9px;
    margin-bottom: 10px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
}
.main-nav {
    position: relative;
    line-height: 18px;
    font-weight: 700;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: ;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    list-style: none;
}

.main-menu-link {
    box-sizing: border-box;
    height: 32px;
    padding: 7px 14px;

}

.main-menu-link:hover,
.main-menu-link:focus {
    color: #333333;
    background-color: #f7f6f3;
    border-radius: 20px;
    text-decoration: none;
}

.main-menu-link:active {
    background-color: #f8f7f4;
    box-shadow: 0 -2px 1px #696969;
}

.link-current,
.link-current:focus,
.link-current:hover {
    text-decoration: none;
    background-color: #d07058;
    color: #ffffff;
    border-radius: 12px;
}

.sub-menu {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    width: 145px;
    position: absolute;
    left: 2px;
    top: 30px;
    margin: 0;
    padding: 5px 0;

    list-style: none;
    font-weight: 400;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.sub-menu li {
    padding: 0px 5px;
}

.sub-menu li:hover,
.sub-menu li:focus {
    background-color: #fbded7;
}

.sub-menu li:active {
    background-color: #f6b5a5;
}

.site-nav > li:hover .sub-menu {
    display: flex;
}

.sub-menu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.sub-menu-new a {
    font-weight: 700;
    border-bottom: 1px solid #d1d0ce;
}



.user-nav {
    margin-right: 10px;
}

.search {
    position: relative;
    margin-left: auto;
}

.search-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    font-size: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.login {
    position: relative;
}

.login-trigger {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 93px;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.login-trigger svg {
    margin-right: 7px;
}

.search-trigger:hover,
.search-trigger:focus,
.login-trigger:hover,
.login-trigger:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.search-trigger:hover path,
.search-trigger:focus path,
.login-trigger:hover path,
.login-trigger:focus path {
    fill: #000000;
}

.form {
    background-color: #f8f7f4;
}

.form input,
.form textarea {
    height: 42px;
    padding: 0 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline-style: none;
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.form input:active,
.form textarea:active {
    outline-style: none;
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.search-form {
    display: none;
    position:absolute;
    right: 0;
    top: 36px;
    box-sizing: border-box;
    width: 342px;
    height: 85px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}


.login-form {
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    box-sizing: border-box;
    width: 280px;
    height: 215px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    z-index: 5;
}

.login-form p {
    margin: 0;
    padding: 0;
}

.search-trigger:hover + .search-form,
.login-trigger:hover + .login-form {
    display: block;
}

.search-form input,
.login-form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
}

.login-form input {
    margin-bottom: 20px;
}

.login-links {
    position: absolute;
    left: 141px;
    bottom: 25px;
}

.login-form a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
    color: #e84d37;
}

.feedback-form input,
.feedback-form textarea {
    line-height: 24px;
}

.cart-empty {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-left: 45px;
    box-sizing: border-box;
    width: 117px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.cart-empty::before {
    content: "";
    left: 16px;
    top: 6px;

    position: absolute;

    width: 21px;
    height: 20px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-wrapper {
    display: none;
    padding: 20px 15px;
    background-color: #ffffff;
    color: #323232;
    border-radius: 3px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.cart-table {
    display: table;
}

.cart-trigger:hover + .cart-wrapper {
    display: table;
}

.total-price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.cart-row {
    display: table-row;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #cacac7;
}

.cart-cell {
    display: table-cell;
}

.cart-unit-price {
    color: #999999;
}

.shop-info {
    position: absolute;
    top: 75px;
    right: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.shop-info-phone {
    font-size: 22px;
    line-height: 24px;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-item {
    display: none;
}

.slide-title {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
}

.slider-toggles {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 10;

    font-size: 0;
}

.slider-toggles label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 7px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.breadcrumbs {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #febca0;
}

.catalog-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-item,
.filter-button {
    margin-right: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: none;
}

.filter-item legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.sort-type {
    border: none;
}
.sort-type select:hover,
.sort-type select:focus {
    color: #323232;
}

.sort-type select:active {
    background-color: #ffffff;
}

.filter-topping {
    margin-top: 38px;
}

.filter-button {
    margin-top: 38px;
    padding: 5px 30px;
    outline: none;
    border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
    color: #323232;
    background-color: #ffffff;
}

.filter-button:active {
    border: none;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    color: #fefefe;
    border-radius: 20px;
    font-weight:700;

    background-color: #f26843;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.52);

    cursor: pointer;
}

.button:hover,
.button:focus {
    color: #fefefe;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 1px 2px #ac1000;
}

.button:active {
    color: #fceeec;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.button-slider {
    padding: 15px 42px;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
}

.button-slider:hover,
.button-slider:focus {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slider:active {
    color: #fceeec;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

.button-promo {
    font-size: 18px;
    line-height: 24px;
    border-radius: 20px;
}

.quick-view {
    display: none;
}


.promo-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.promo-title {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight:700;
}

.promo-list p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.promo-item {
    box-sizing: border-box;
    width: 560px;
    padding: 20px;
}

.promo-berry {
    background-color: #720a1b;
    background-image: url("../img/bg-berry.jpg");
    border-radius: 10px;
}

.promo-choco {
    background-color: #3e2518;
    background-image: url("../img/bg-choco.jpg");
    border-radius: 10px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 267px;
}

.catalog-item img {
    border-radius: 50%;
}

.price-per-unit {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-unit {
    font-size: 30px;
}

.item-link {
    font-weight: 500px;
    text-align: center;
}

.item-link:hover,
.item-link:focus,
.item-link:active {
    color: #ffbc9e;
}

.catalog-item:hover,
.catalog-item:focus {
    background-color: rgba(254, 254, 254, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .quick-view,
.catalog-item:focus .quick-view {
    display: inline-block;
}

.features {
    margin-bottom: 40px;
    color: #323232;
    background-color: #f2e8d6;
    background-image: url("../img/bg-waffle.jpg");
    border-radius: 10px;
}

.features b {
    padding: 25px 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 25px 20px;
}

.blog-subscribe-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog-news {
    padding: 25px 20px;
    background-color: #ffffff;
    background-image: url("../img/bg-strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.blog-news,
.subscribe {
    box-sizing: border-box;
    width: 560px;
}
.blog-news-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog-news-link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.blog-news-link:hover,
.blog-news-link:focus,
.blog-news-link:active {
    color: #e84d37;
}

.subscribe {
    padding: 10px;
    color: #5a5a5a;
    background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 10px, #94cefd 10px, #94cefd 20px, #f8f7f4 20px, #f8f7f4 30px, #fc9e92 30px, #fc9e92 40px);
    border-radius: 10px;
}

.subscribe-container {
    padding: 30px 25px;
    background-color: #f8f7f4;
    border-radius: 10px;
}

.contacts {
    padding: 30px 25px;
    box-sizing: border-box;
    width: 302px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    background-color: #fffffe;
    border-radius: 10px;
}

.contacts-font-big {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.phone-order {
    line-height: 22px;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.paginator a {
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50%;
}

.paginator a:hover,
.paginator a:focus {
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
}

.paginator a:active,
.paginator-current,
a.paginator-current:hover,
a.paginator-current:focus {
    color: #323232;
    background-color: #ffffff;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    font-size: 13px;
    line-height: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.heart {
    font-weight: 700;
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
    color: #ffbc9e;
}

.copyright-text {
    font-size: 12px;
}

.modal-feedback {
    background-color: #f8f7f4;
    border-radius: 5px;
}

.feedback-motto {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

.promo-slide:not(.promo-slide-active) {

}

.promo-slide-active {
 
}
.modal {
    display: none;
}
